<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CTI" parallel="false">
	 <test verbose="2" name="test.java.com.cti.website" annotations="JDK">
   	 	<classes>
   	 	    <class name="test.java.com.cti.website.coactivesummit.CoactiveSummitTest" />
   	 	    <class name="test.java.com.cti.website.coactivemarketing.HomepageTest" />
   	 	    <class name="test.java.com.cti.website.coactivemarketing.ReportsTest" />
   	 	    <class name="test.java.com.cti.website.coactivesales.HomepageTest" />
   	 	    <class name="test.java.com.cti.website.coactivesales.ReportsTest" />
   	 	    <class name="test.java.com.cti.website.leadershipAdministration.AddDeleteTribesTest" />
   	 	    <class name="test.java.com.cti.website.leadershipAdministration.LeadershipAdminTest" />
   	 	    <class name="test.java.com.cti.website.leadershipAdministration.ManageAssistantsTest" />
   	 	    <class name="test.java.com.cti.website.leadershipAdministration.ManageLeaderAssistantsTest" />
   	 	    <class name="test.java.com.cti.website.leadershipAdministration.ManageLeadersTest" />
   	 	    <class name="test.java.com.cti.website.leadershipAdministration.ManageParticipantsTest" />
   	 	    <class name="test.java.com.cti.website.leadershipAdministration.ManageTribesTest" />
   	 	    <class name="test.java.com.cti.website.leadershipAdministration.ViewLaunchedTribesTest" />
   	 	    <class name="test.java.com.cti.website.stakebook.ThestakeBookTest" />
		</classes>
    </test>
</suite>

